<% include ./partials/header%>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>CourseCache</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/search.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
</head>


<body>

  <!-- <img id="splash" src="img/upgrade.png" alt="University background" style="width:100%;"> -->

  <a href="/"><img src="img/toplogo.png" class="nav_item_logo"></a>
  <!-- <div class="nav_item_name"> <a href = "/" style="color:#00144D"> CourseCache</a> </div> -->
  <div class="nav_item"> <a href="/contact" style="color:#00144D">Contact</a> </div>
  <div class="nav_item"> <a href="/about" style="color:#00144D">About</a> </div>


  <!-- <div id="nav" class="ui grid">
    <div class="three wide column">
        <a href="/"><img id="logo" class="nav-item-logo" src="img/logo.png" alt="CourseCache Logo"/></a>
    </div>
    <div class="three wide column">
        <a id="about" class="nav-item" href="/">CourseCache</a>
    </div>
    <div class="three wide column">
        <div id="nav_about"><a id="about" class="nav-item" href="/about">About</a></div>

    </div>
    <div class="three wide column">
        <div id="nav_help"><a id="help" class="nav-item" href="/contact">Contact</a></div>

    </div>
  </div> -->

  <div id="banner">
    <div id="title_container">
      <div id="title">CourseCache</div>
    </div>
    <img src="img/<%=school%>.png" class="university_logo">
  </div>
  <br>
	
  <form form action="/<%=school%>/courses", method="GET">
	
	  <div class="main_search">
		  <div class="ui fluid search" id="desktop_search_container">
			<div class="ui icon input">
			  <input id="search" class="prompt" type="text" name="search"
					 placeholder="Type a keyword to search for (ex. psychology)">
			  <i class="search icon"></i>
			</div>
		  </div>
	  </div>

	  <div class="center_page">
		<button type="button submit" class="custom-button" >Search</button>
	  </div>
	  <br><br>
	  <div class="center_page2">
	    Scroll down to see some interesting courses!
	  </div>
  </form>

</body>

<div class="bottom_section">
  <div class="header_container">
    <div class="hot_courses_title">
    Explore something new at <span id="upper"><%=school%></span> University
    </div>
  </div>

  <% randoms.forEach(function(random){ %>
	  <button type="button" class="course_suggestion_button" onclick="location.href='/<%=school%>/courses/<%=random._id %>'">
		  
		<div class="heading_text">
		  <%= random.title %>
		</div>
		<br>
		<div class="description_text">
		  <%= random.description.substring(0,100) %>...
		</div>
		<br>
		<div>
		<a href="/<%=school%>/courses/<%=random._id %>">Read more</a>	
		</div>
		
	  </button>
  <%}); %>
	
  <br><br>
  <a href="/<%=school%>/courses?search=random"> See more fun and random courses -></a>
  <div class="empty"> . </div>	
</div>


</html>


<% include ./partials/footer%>