<% include ./partials/header%>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info | CourseCache</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/info.css">
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146368283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146368283-1');
</script>

</head>


<body>

  <a href="/"><img src="/img/toplogo.png" class="nav_item_logo"></a>
  <!-- <div class="nav_item_name"> <a href = "/" style="color:#00144D"> CourseCache</a> </div> -->
  <div class="nav_item"> <a href="/contact" style="color:#00144D">Contact</a> </div>
  <div class="nav_item"> <a href="/about" style="color:#00144D">About</a> </div>

  <br><br>
  <form form action="/<%=school%>/courses", method="GET">
	  <div class="main_search">
		  <div class="ui fluid search" id="desktop_search_container">
			<div class="ui icon input">
			  <input id="search" class="prompt" type="text" name="search"
					 placeholder="Try searching something else (ex. music science art)">
			  <i class="search icon"></i>
			</div>
			<button type="button" class="custom-button" >Search</button>
		  </div>
	  </div>
  </form>

</body>

<div class="bottom_section">
  <img src="/img/<%=school%>.png" class = "scroll_logo">

  <div class="course_suggestion_box" >
    <div class="heading_text" id="course_name">
      <%= course.title %>
    </div>
    <div class="subheading_text" id="course_prof">
      <%= course.times %>
    </div>
	<div class="description_text_header" id="course_description">
      Prerequisites:
	</div>
    <div class="description_text" id="course_description">
      <%= course.prereq %>
    </div>
    <div class="description_text_header" id="course_description">
      Course description:
    </div>
    <div class="description_text" id="course_description">
      <%= course.description %>
    </div>
  </div>
  <br><br>
  <a class="bottom_link" href="/school?university=<%=school%>"> For more courses, try changing or adding keywords! -></a>
	

	<div class="description_text_header2">
		*CourseCache is not meant to replace your course website; visit your university's course site for more info on this course!
	</div>
</div>
<div class="empty"> . </div>

</html>


<% include ./partials/footer%>